[General]
# How long the script will wait before checking the health of the live view page, or refreshing if the console is offline.
# Don't recommend reducing this number too much unless you're troubleshooting
SLEEP_TIME=300
# How long the script will wait for elements to appear
# This include loading the page, waiting for the cameras to load, waiting for buttons before clicking them, etc
# This is the max time before it throws an error.
WAIT_TIME=30
# Amount of retries the script will attempt of launching chrome, or handling
# different kinds of errors with the cameras not loading correctly.
# Increasing is useful for when you have connectivity issues, and waiting 2-3 minutes before a refresh is the solution.
# First amount of attempts will just reload the page. Second to last attempt will restart chrome, and the last attempt will restart the script. 
MAX_RETRIES=3
# Must be 3 or greater.
[Chrome]
# Chrome directory found by navigating to chrome://version/ and copying the Profile Path
# The script will default to the path location in Linux. 
# Copy profile path of Chromium here if you want to use that browser
# BROWSER_PROFILE_PATH=/home/your-user/.config/chromium/Default/Default
# BROWSER_PROFILE_PATH=/home/your-user/.config/google-chrome/Default

# Path of your chrome binary. Depends on your OS
# Find it by navigating to chrome://version/ and copying "Executable Path"
# BROWSER_BINARY=/usr/lib/chromium/chromium
BROWSER_BINARY=/usr/bin/google-chrome-stable
# Headless mode is only useful for development/testing other parts of the code
# It will launch the script and run the browser without actually displaying it
# HEADLESS=True
[Logging]
# Put False if you don't want a specific kind of logging.
# By default, it will log in the console and a logfile, but you can toggle it off
LOG_FILE=True
LOG_CONSOLE=True
VERBOSE_LOGGING=False
# How many log files to keeps. It will keep the last 7 days of logs by default.
LOG_DAYS=7
# Interval of how often the script will log the status of the cameras, in minutes. 
# You should see "Feed Healthy" if everything is working once every 60 minutes by default.
LOG_INTERVAL=60

[API]
# The API is something I made for myself. It allows me to remotely monitor
# The status of the webpage, as well as giving me the script and system
# uptime. It's turned off by default.
USE_API=False
# Example of custom directory
# API_FILE_PATH=/home/your-user/Documents

