@use "sass:map";
@use "sass:color";

$base-palette: (
  background: #131416,
  text:       #dee0e3,
  white:      #f6fafa,
  blue:       #147aff,
  red:        #FF556D,
  green:      #36be5f,
  yellow:     #EFC368,
  search:     #737c82,
  diminished: #34383d,
  box:        #1c1e21,
);
@mixin define-color($name, $color) {
  --#{$name}-h: #{hue($color)};
  --#{$name}-s: #{saturation($color)};
  --#{$name}-l: #{lightness($color)};
  --#{$name}-a: #{alpha($color)};
}
:root {
  @each $name, $col in $base-palette {
    @include define-color($name, $col);
  }
}

@function color(
  $name,
  $hue:        0deg,
  $saturation: 0%,
  $lightness:  0%,
  $alpha:      0
) {
  @return hsla(
    calc(var(--#{$name}-h) + #{$hue}),
    calc(var(--#{$name}-s) + #{$saturation}),
    calc(var(--#{$name}-l) + #{$lightness}),
    calc(var(--#{$name}-a) + #{$alpha})
  );
}

$border-radius:      6px;
$transition-speed:   0.3s;
$small: 40rem; // 640px
$medium: 58.75rem; // 940px
$big: 77.5rem; // 1240px

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
  &:focus-visible {
    @content;
  }
}
@mixin shadow {
  /* prettier-ignore */
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}
@mixin bigShadow{
  /* prettier-ignore */
  box-shadow: 
  0 5.3px 3.3px rgb(0 0 0 / 6%), 0 6.7px 8.4px rgb(0 0 0 / 5%),
  0 7.6px 14.7px rgb(0 0 0 / 4%), 0 8.3px 22px rgb(0 0 0 / 4%),
  0 8.9px 30.4px rgb(0 0 0 / 4%), 0 9.6px 39.9px rgb(0 0 0 / 4%),
  0 10.3px 50.9px rgb(0 0 0 / 3%), 0 11.4px 64.2px rgb(0 0 0 / 3%),
  0 13px 81.6px rgb(0 0 0 / 3%), 0 19px 123px rgb(0 0 0 / 2%);
}
@mixin respond-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}