@import '_normalize';
@import '_variables';

@mixin respond-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
// --------------------------------------------------
// Base Styles
// --------------------------------------------------
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img:focus-visible {
  margin: -2px;
  padding: 2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto Highlight;
  outline: 5px auto $white-outline;
}
/* prettier-ignore */
a:focus-visible, button:focus-visible,div:focus-visible,
section:focus-visible, li:focus-visible {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: 5px auto Highlight;
    outline: 5px auto $white-outline;
  }
}
body {
  margin-top: 5rem;
}
// --------------------------------------------------
// Headings
// --------------------------------------------------
h1 {
  font-size: 1.5rem;
  color: $primary-color;
  margin-bottom: 1rem;
  text-align: center;
}
#updateBanner {
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background: #f9fafa;
  color: $primary-color;
  padding: 1rem 1.4rem;
  border: 1px solid $white-outline;
  border-radius: $border-radius;

  a {
    color: $secondary-color;
    text-decoration: underline;
  }
  button {
    padding: .5rem .9rem;
    font-size: 1.4rem;
    background: $primary-color;
    color: #f9fafa;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: opacity $transition-speed;

    &:hover { opacity: .85; }
    &:disabled { cursor: not-allowed; opacity: .6; }
  }
}
// --------------------------------------------------
// Login Page Styles
// --------------------------------------------------
#login {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 2rem auto;
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background $transition-speed;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

// --------------------------------------------------
// Index Page Styles
// --------------------------------------------------
#info {
  background-color: #fff;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  div.flex-parent {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;

      span {
        font-weight: bold;
      }
    }
  }
}
#controls,
#info {
  button {
    padding: 0.75rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background $transition-speed;
    margin-bottom: 0.75rem;
    &:hover {
      background-color: $secondary-color;
    }
    &:disabled {
      background-color: $secondary-color;
      cursor: unset;
    }
    &[disabled][data-tooltip]{
      position: relative;
      &:hover::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: rgba(0,0,0,0.8) transparent transparent transparent;
        pointer-events: none;
        opacity: 1;
      }
      &:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;               /* sit just above the button */
        left: 50%;                  /* center horizontally */
        transform: translate(-50%, -6px);
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 8px 12px;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 1.15em;
        pointer-events: none;       /* so it doesn’t block the hover state */
        z-index: 10;
      }
    }
  }
}
#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  button {
    flex: 1;
    margin: 0 0.5rem;
    max-width: 150px;
    margin-bottom: 0;
  }
  #statusMessage {
    text-align: center;
    margin-top: 1rem;
  }
}
#showLogsBtn {
  position: absolute;
  right: 0;
  bottom: -3.5rem;
}
// --------------------------------------------------
// Status Div
// --------------------------------------------------
#statusMessage {
  text-align: center;
  .danger {
    color: $white-outline;
  }
}
.modal[hidden]{
  display: none;
}
.modal {
  position: fixed;
  top: 0; left: 0; right:0; bottom:0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .modal-content {
    background: white;
    padding: 1rem;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
    border-radius: 4px;
    position: relative;
  }
  .close {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 24px;
  }
  #logOutput {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

// --------------------------------------------------
// Responsive Adjustments
// --------------------------------------------------
@include respond-above($small) {
  // Slightly larger form and controls layout for tablets
  #login{
    max-width: 450px;
  }
  #info {
    max-width: 600px;
    margin: 1rem auto;
  }
  h1 {
    font-size: 2rem;
  }
}

@include respond-above($medium) {
  // Additional padding and larger containers for desktops
  html, body {
    padding: 2rem 4rem;
  }
  #login {
    max-width: 600px;
    margin: 1rem auto;
  }

  h1 {
    font-size: 2.5rem;
  }
}
