@use '_variables' as *;
@use "sass:map";
@use 'sass:color';
@import '_normalize';

// --------------------------------------------------
// Base Styles
// --------------------------------------------------
html {
  transition: background-color $transition-speed, color $transition-speed;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  min-width: 320px;
  margin-top: 5rem;
  background-color: color("background");
  color: color("text");
  transition: background-color $transition-speed, color $transition-speed;
}
@font-face {
  font-family: "UI Sans";
  src: url("../static/UI_Sans.woff2") format("woff2");
  font-weight: normal;
  font-display: fallback;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "UI Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img:focus-visible {
  margin: -2px;
  padding: 2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto Highlight;
  outline: 5px auto color("red");
}
/* prettier-ignore */
a:focus-visible, div:focus-visible, section:focus-visible, li:focus-visible, input:focus-visible, [type="button"]:focus-visible, [type="reset"]:focus-visible, [type="submit"]:focus-visible, button:focus-visible {
  position: relative;
  outline: none;
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: 5px auto Highlight;
    outline: 5px auto color("red");
    z-index: 9999;
  }
}
button {
  border: none;
}
.Green {
  color: color("green");
}
.Red {
  color: color("red");
}
.Blue {
  color: color("blue");
}
.Yellow {
  color: color("yellow");
}
.up {
  color: color("up");
  fill: color("up");
}
.down {
  color: color("down");
  fill: color("down");
}
header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: color("text");
  margin-bottom: 2rem;
  width: 100%;
  height: $header;
  padding: 0 8px;
  box-sizing: border-box;
  h1 {
    flex: 1;
    text-align: left;
    font-size: inherit;
    margin: 0;
    @include respond-above(400px){
      text-align: center;
    }
  }
  button {
    padding: 8px;
    border: none;
    line-height: 0;
    background-color: transparent;
    margin: 0;
  }
  button#themeToggle {
    margin-left: -80px;
  }
  button#logOut {
    margin-left: auto;
    cursor: pointer;
    color: color("text");
    @include hover {
      color: color("blue");
    }
  }
}
// --------------------------------------------------
// Theme Swapping
// --------------------------------------------------
#themeToggle {
  background-color: transparent;
  border: none;
  border-radius: $border-radius;
  padding: 8px;
  cursor: pointer;
  transition: background-color $transition-speed;
  color: color("text");
  @include hover {
    color: color("blue");
  }
  svg {
    width: 24px;
    height: 24px;
    transition: fill $transition-speed;
  }
  .light-icon {
    display: none;
  }
  .dark-icon {
    display: block;
  }
  [data-theme="light"] & {
    .light-icon {
      display: block;
    }
    .dark-icon {
      display: none;
    }
  }
}
// Light theme overrides
html[data-theme="light"]{
  #login .wrapper {
    border: none;
  }
  #login section {
    background-color: color("box");
    input[type="password"]{
      background-color: color("diminished");
    }
  }
  #login button[type="submit"] {
    color: color("bText");
    background-color: color("blue");
    @include hover {
      color: color("bText", $lightness: 10%);
      background-color: color("blue", $lightness: 10%);
    }
  }
  button {
    border: 2px solid color("border");
    margin-bottom: -2px;
  }
  header button {
    border: none;
    margin-bottom: 0;
  }
  .wrapper {
    border: 2px solid color("border");
  }
  section#navigation {
    .log-controls {
      border: 2px solid color("border");
      border-bottom: 2px solid color("background");
      margin-bottom: -2px;
    }
    .button-group, .refresh {
      border: 2px solid color("border");
      border-bottom: 2px solid color("background");
      margin-bottom: -2px;
      button {
        border: 0;
        margin-bottom: unset;
        @include hover {
          color: color("text", $lightness: 10%);
        }
      }
      button[aria-selected="true"] {
        @include hover {
          color: color("blue");
        }
      }
    }
  }
  section.display #controls button{
    background-color: color("diminished");
    @include hover {
      &:not([disabled]) {
        color: color("text", $lightness: 10%);
        background-color: color("background");
      }
    }
  }
  @include respond-above($small) {
    #login .wrapper {
      border: 2px solid color("border");
      border-radius: $border-radius;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    section#logs .container button.expand-button {
      border: none;
      margin-bottom: 0;
    }
  }
  @include respond-above($medium){
    section#navigation {
      border: none;
      border-right: 2px solid color("border");
      .log-controls {
        margin-bottom: 0;
        border: none;
      }
      .button-group, .refresh {
        margin-bottom: 0;
        border: none;
      }
    }
    button.hide-panel{
      border: none;
    }
  }
  .tooltip .tooltip-text {
    .Blue {
      color: color("bBlue");
    }
    .Yellow {
      color: color("bYellow");
    }
    background-color: color("bDiminished", $lightness: -5%);
    color: color("bText");
    &::after {
      border-color: color("bDiminished", $lightness: -5%) transparent transparent transparent;
    }
  }
}
// --------------------------------------------------
// Login Page Styles
// --------------------------------------------------
#login {
  background-color: color("box");
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  h1 {
    font-size: 1.5rem;
    color: color("text");
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    //mobile
    width: 100%;
    margin-left: 0px;
    padding: 32px 32px 64px;
    height: 100%;
    // Shared
    background-color: color("diminished");
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: $border-radius;
    box-sizing: border-box;
    h1 {
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 48px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
      input[type="password"] {
        background-color: color("diminished", $lightness: 10%);
        color: color("text");
        width: 100%;
        padding: 0.75rem;
        border: 2px solid color("border");
        border-radius: $border-radius;
        margin-bottom: 1rem;
        box-sizing: border-box;
      }
      // Forgot Password
      span.tooltip {
        font-size: 12px; 
        display: inline-block;
        color: color("blue");
        border-bottom: 2px solid;
        margin-bottom: -2px;
        cursor: pointer;
        @include hover {
          color: color("yellow");
        }
        .tooltip-text {
          font-size: 1rem;
        }
      }
      // Log In
      button[type="submit"] {
        margin: 2rem auto;
        width: 150px;
        padding: 0.75rem;
        background-color: color("blue");
        color: color("text");
        border-radius: $border-radius;
        cursor: pointer;
        transition: background $transition-speed;
        @include hover {
          background-color: color("blue", $lightness: -10%);
        }
      }
    }
  }
  .tooltip .tooltip-text {
    left: 133%;
    right: unset;
    transform: translateX(-50%);
    border-bottom-right-radius: $border-radius;
    &::after{
      right: 68%;
    }
  }
  @include respond-above($small){
    background-color: color("background");
    .tooltip .tooltip-text {
      left: 50%;
      &::after{
        right: 50%;
      }
    }
  }
  .hero-bg {
    display: none; // Hide by default
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      135deg,
      color("blue", $alpha: -0.9) 0%,
      color("up", $alpha: -0.9) 50%,
      color("down", $alpha: -0.9) 100%
    );
  }
  .blob {
    position: absolute;
    width: 40vmax;
    height: 40vmax;
    pointer-events: none;
    opacity: 0.1;
    &.blob-tl {
      animation: orbit-tl 32s linear infinite;
      offset-path: $orbit;
    }
    &.blob-br {
      animation: orbit-br 32s linear infinite;
      animation-delay: -12s;
      offset-path: $orbit;
    }
  }
  @keyframes orbit-tl   { 
    from { 
      offset-distance: 10%;   
    } 
    to { 
      offset-distance: 100%;
    } 
  }
  @keyframes orbit-br   { 
    from { 
      offset-distance: 100%; 
    } 
    to { 
      offset-distance: 0%;   
    } 
  }
  @keyframes blob-spin { 
    from { 
      transform: rotate(0deg); 
    } 
    to { 
      transform: rotate(360deg); 
    } 
  }
}
// --------------------------------------------------
// Index Page Styles
// --------------------------------------------------
section#navigation {
  display: flex;
  justify-content: flex-start;
  .button-group {
    display: inline-flex;
    position: relative;
    background-color: color("diminished");
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    // Prevents background from buttons from overriding
    // the border radius of this element
    overflow: hidden;
  }
  button {
    display: flex;
    &[hidden]{display: none;}
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.75rem;
    // Grayer than text
    color: color("text", $lightness: -10%);
    background: transparent;
    position: relative;
    @include hover {
      background: color("box");
    }
    svg {
      width: 24px;
      height: 24px;
      .background {
        fill: color("diminished")
      }
    }
    span {
      display: none;
    }
  }
  button.updateBtn {
    animation: pulseUpdate 1.5s infinite ease-in-out;
    color: color("blue");
  }
  @keyframes pulseUpdate {
    0% {
      color: color("blue");
    }
    50% {
      color: color("yellow");
    }
    100% {
      color: color("blue");
    }
  }
  button[aria-selected="true"] {
    background-color: color("box");
    color: color("blue");
    cursor: unset;
    animation: none;
    @include hover {
      background: color("box");
    }
  }
  button.refresh {
    background: color("box");
    padding: 0 16px;
    margin-left: auto;
    border-radius: $border-radius $border-radius 0 0;
    svg {
      fill: color("text");
    }
    @include hover {
      background: color("box");
      svg {
        fill: color("blue");
      }
    }
    #refresh {
      transform-origin: center;
    }
    &.refreshing #refresh {
      animation: spin-3-times 1s ease-out;
      fill: color("blue");
    }
    @keyframes spin-3-times {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1080deg);
      }
    }
  }
  .log-controls {
    display: flex;
    &[hidden]{display: none;}
    flex-direction: row;
    margin-left: auto;
    background-color: color("box");
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    gap: 2px;
    z-index: 1;
    .custom-spinners {
      display: flex;
      flex-direction: column;
      gap: 2px;
      border-top-left-radius: $border-radius;
      .custom-spinner-btn {
        background: color("box");
        color: color("search");
        overflow: hidden;
        border: none;
        width: 32px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: 4px;
        cursor: pointer;
        min-width: unset;
        border-top-left-radius: $border-radius;
        svg {
          width: 22px;
          height: 22px;
          stroke: currentColor;
          stroke-width: 2;
        }
        @include hover {
          color: color("blue");
        }
        &[data-action="increment"] svg {
          margin-bottom: -10px;
        }
        &[data-action="decrement"] svg {
          margin-top: -10px;
          transform: rotate(180deg); // Flips the arrow to point down
        }
      }
    }
    input.logLimit {
      background: color("box");
      color: color("text");
      border: none;
      text-align: center;
      font-size: 1.2rem;
      width: 40px;
    }
    button.searchLogs {
      background: transparent;
      color: color("text");
      height: 100%;
      min-width: unset;
      border-top-right-radius: $border-radius;
      border: none;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        stroke: currentColor;
      }
      @include hover {
        color: color("blue");
      }
    }
  }
}
.wrapper {
  background-color: color("box");
  padding: 1.2rem;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  .tooltip-text {
    visibility: hidden;
    width: max-content; // Adjusts to content width
    max-width: min(400px, calc(100vw - 20px)); // Responsive max width
    background-color: color("diminished", $lightness: -5%);
    color: color("text");
    text-align: center;
    border-radius: $border-radius;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: auto;
    right: 0;
    transform: none;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: normal;
    pointer-events: none;
    word-wrap: break-word; // Handle long words
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 12px;
      // Makes sure it's centered in relation to border width
      margin-right: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: color("diminished", $lightness: -5%) transparent transparent transparent;
    }
  }
  @include hover {
    .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
  .active {
    & + .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}
div.status-device {
  // Reset tooltip for Control buttons
  .tooltip {
    display: block;
    cursor: unset;
    .tooltip-text {
      left: 50%;
      right: unset;
      transform: translateX(-50%);
      border-bottom-right-radius: $border-radius;
      cursor: unset;
      @include hover {
        visibility: hidden;
        opacity: 0;
      }
      &::after{
        right: 50%;
      }
    }
    &:not([disabled]) {
      @include hover {
        .tooltip-text{
          visibility: hidden;
          opacity: 0;
        }
      }
    }
    &.show {
      @include hover {
        .tooltip-text{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
// --------------------------------------------------
// Sections
// --------------------------------------------------
div.status-device, section#config {
  ul {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      gap: 8px;
      line-height: 20px;
      &>span:first-child {
        white-space: nowrap;
      }
      &>span:last-child {
        text-align: right;
      }
    }
  }
  #controls {
    display: flex;
    &[hidden]{display:none;}
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto;
    .statusMessage {
      text-align: center;
      margin-top: 1rem;
    }
    button {
      flex: 1;
      margin: 0 0.5rem;
      max-width: 150px;
      padding: 0.75rem;
      background-color: color("box");
      color: color("text");
      border-radius: $border-radius;
      cursor: pointer;
      transition: background $transition-speed;
      margin-bottom: 0.75rem;
      @include hover {
        background-color: color("blue");
      }
      &[disabled] {
        cursor: not-allowed;
        background-color: color("box", $lightness: 10%);
      }
    }
  }
  #controls.disabled {
    button {
      background-color: color("diminished");
      cursor: not-allowed;
    }
  }
  .statusMessage {
    text-align: center;
    .danger {
      color: color("red");
    }
  }
}
// --------------------------------------------------
section#status {
  li:last-of-type {
    span:last-child {
      margin-left: 20px;
    }
  }
  span.network {
    display: flex;
    align-items: center;
    span.down {
      margin-right: 0.5rem;
    }
  }
}
// --------------------------------------------------
section#config {
  .wrapper {
    margin-bottom: 2rem;
    &:not(:first-child){
      border-radius: $border-radius;
    }
  }
}
// --------------------------------------------------
section#logs {
  .wrapper {
    position: relative;
    padding: 1rem;
    h2 {
      margin: 1rem 0;
    }
    div#logOutput {
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      font-family: monospace;
      max-height: 500px;
      overflow-y: auto;
    }
    button.expand-button {
      display: none;
    }
    span#logsPaused {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 6px;
      font-size: 16px;
    }
  }
}
// --------------------------------------------------
section#update {
  padding-bottom: 2rem;
  color: color("gitText");
  .wrapper {
    h3, h4 {
      border-top: 1px solid color("diminished");
      margin: 0;
      padding: 1rem 0;
    }
    .changelog>ul {
      margin-bottom: 1rem;
    }
    code {
      font-style: italic;
      padding: .2em .4em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      border-radius: 6px;
      background-color: color("gitCode");
    }
    a {
      display: inline-block;
      color: color("blue");
      border-bottom: 2px solid;
      margin-bottom: -2px;
      @include hover {
        color: color("yellow");
      }
    }
    li {
      list-style: disc;
      margin-left: 2rem;
      margin-bottom: 0.3rem;
      line-height: 1.5rem;
      a {
        margin-top: 0;
      }
    }
    p {
      display: none;
    }
    div.changelog-actions {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 2.4rem;
      button[type="submit"]{
        padding: 0.5rem 1.4rem;
        background-color: color("blue");
        color: color("text");
        border: 0;
        border-radius: $border-radius;
        @include hover {
          background-color: color("blue", $lightness: -10%);
        }
        &[disabled] {
          background-color: color("diminished");
        }
      }
    }
    div#updateMessage {
      height: 30px;
      text-align: center;
    }
  }
}
// --------------------------------------------------
// Responsive Adjustments
// --------------------------------------------------
@include respond-above($small) {
  // Slightly larger form and controls layout for tablets
  #login { 
    section {
    width: 402px;
    margin-left: 10%;
    padding: 40px 64px 64px;
    height: 597px;
    }
    .hero-bg {
      display: block;
    }
  }
  section {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    .wrapper {
      margin-right: auto;
      margin-left: auto;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  section#navigation {
    button {
      min-width: 75px;
      span {
        margin-left: 4px;
        display: inline-block;
      }
    }
  }
  section.display .wrapper {
    border-top-right-radius: 0;
  }
  // Allow resize
  section#logs {
    transition: all 0.3s ease;
    overflow: hidden;
    &.expanded {
      max-width: 900px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      .wrapper button.expand-button {
        svg {
          transform: rotate(90deg);
        }
      }
    }
    // Contains title and button
    .container {
      display: flex;
      align-items: center;
      button.expand-button {
        display: inline-block;
        background: none;
        color: color("text");
        cursor: pointer;
        padding: 8px;
        line-height: 0; // Forces svg to be centered on button
        margin-left: auto; // Push to right 
        @include hover {
          color: color("blue");
        }
        svg {
          width: 32px;
          height: 32px;
          transition: transform 0.6s ease;
        }
      }
    }
  }
}
@include respond-above($medium) {
  $gap: 16px;
  $width: 20rem;
  header {
    font-size: 18px;
    margin-bottom: 0;
    background-color: color("diminished");
    h1 {
      color: color("search", $lightness: 5%);
    }
  }
  section {
    vertical-align: top;
    margin: 0;
    .wrapper {
      border: 1px solid color("border");
      background-color: color("background");
      border-radius: $border-radius;
    }
  }
  section#navigation {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    box-sizing: border-box;
    // 100vh -header -1px for overflow prevention
    height: calc(100vh - $header - 1px);
    width: $header;
    justify-content: space-between;
    max-width: unset;
    border: none;
    border-right: 1px solid color("border"); 
    padding-top: $gap;
    .button-group {
      flex-direction: column;
      align-items: stretch;
      border-radius: 0;
      background-color: color("background");
    }
    button {
      justify-content: flex-start;
      min-width: unset;
      span {
        display: none;
      }
      &[aria-selected=true] {
        background-color: transparent;
      }
      @include hover {
        &:not([disabled]) {
          background-color: transparent;
        }
        svg {
          color: color("blue");
        }  
      }
    }

    button#deviceBtn, button#logsBtn {
      display: none;
    }
    button.refresh {
      padding: 0.75rem;
      margin-left: unset;
      border-radius: unset;
      background-color: transparent;
    }
    .log-controls {
      position: absolute;
      right: calc($gap + 1rem);
      top: calc($header + $gap + 1rem);
      height: 2.5rem;
      border-radius: $border-radius;
    }
  }
  div.group {
    display: inline-flex;
    &[hidden]{display:none;}
    vertical-align: top;
    width: calc(100% - $header);
    box-sizing: border-box;
    overflow: hidden;
    padding: $gap;
    gap: $gap;
    &.expanded {
      overflow: initial;
      gap: unset;
    }
    section {
      box-sizing: border-box;
      max-height: 40vh;
      width: $width;
    }
    .status-device {
      transition: transform 250ms ease-in-out;
      display: flex;
      flex-direction: column;
      position: relative;
      section {
        margin-bottom: $gap;
      }
      .tooltip {
        margin-top: auto;
      }
      #controls {
        margin: 0;
        button {
          margin-bottom: 0;
        }
      }
      .statusMessage {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
      }
      &.contracted {
        width: 0;
        max-width: 0;
        opacity: 0;
        transform: translateX(-100%);
      }
    }
    section#status {
      ul li:last-child{
        display: none;
      }
    }
    section#logs {
      position: relative;
      max-height: unset;
      max-width: unset;
      // 100% - Header - Padding
      height: calc(100vh - $header - (2 * $gap));
      width: 100%;
      overflow: initial;
      .tooltip.hide-panel {
        position: absolute;
        left: 0;
        transform: translate(-50%, -50%);
        top: 25%;
      }
      button.hide-panel {
        display: inline-block; // Overrides [hidden]
        background-color: transparent;
        padding: 8px;
        line-height: 0;
        cursor: pointer;
        color: color("text");
        svg {
          transition: all 0.3s ease-in-out;
          width: 24px;
          height: 24px;
          &.rotated {
            transform: rotate(180deg);
          }
        }
        @include hover {
          color: color("blue");
          .tooltip .tooltip-text {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      // Undo cascading effect of disabling tooltip for control buttons
      .tooltip:not([disabled]) {
        @include hover {
          .tooltip-text{
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .wrapper {
        height: 100%;
        box-sizing: border-box;
        h2 {
          margin-top: 0.5rem;
          font-size: 1.3rem;
        }
        button.expand-button {
          display: none;
        }
        div#logOutput {
          max-height: unset;
          height: calc(100% - 60px);
        }
      }
    }
  }
  section#config {
    display: inline-flex;
    padding: $gap;
    gap: $gap;
    max-width: unset;
    width: calc(100% - $header);
    box-sizing: border-box;
    &[hidden]{display:none;}
    .flex-group {
      display: inline-flex;
      border-radius: unset;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: calc(100vh - $header - (2 * $gap));
      gap: $gap;
      box-sizing: border-box;
      .wrapper {
        width: 22rem;
        margin: 0;
        box-sizing: border-box;
        border-radius: $border-radius;
      }
      &[hidden] {
        width: 100%;
        max-width: 700px;
        .wrapper {
          width: unset;
        }
      }
    }
    .tooltip {
      @include hover {
        .tooltip-text {
          span, br {
            display: none;
          }
          span.Blue {
            display: inline-block;
          }
        }
      }
    }
  }
  section#update {
    display: inline-flex;
    &[hidden]{display:none;}
    padding: $gap;
    vertical-align: top;
    height: calc(100vh - $header);
    width: calc(100% - $header);
    max-width: unset;
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
    .wrapper {
      overflow-y: auto;
    }
  }
  .tooltip .tooltip-text {
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    border-bottom-right-radius: $border-radius;
    &::after{
      right: 50%;
    }
  }
}
@include respond-above($big){
  $width: 28.125rem;
  div.group section {
    // 450px
    width: $width;
  }
  section#config .flex-group .wrapper {
    width: $width;
  }
}