<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Viewport Control</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="preload" href="{{ url_for('static', filename='UI_Sans.woff2') }}" as="font" type="font/woff2">
  <link rel="stylesheet" href="{{ url_for('static', filename='main-min.css') }}">
</head>
<body>
  <h1>Viewport Control</h1>
  <section class="flex-parent">
    <button id="status" aria-selected="true">Status</button>
    <button id="logsBtn" class="last">Logs</button>
    <button id="update" hidden>Update<span>!</span></button>
    <button id="refreshButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M7.59375 3L9.0625 5L13 5C16.324219 5 19 7.675781 19 11L19 15L16 15L20 20.46875L24 15L21 15L21 11C21 6.59375 17.40625 3 13 3ZM4 3.53125L0 9L3 9L3 13C3 17.40625 6.59375 21 11 21L16.40625 21L14.9375 19L11 19C7.675781 19 5 16.324219 5 13L5 9L8 9Z" />
      </svg>
    </button>
  </section>
  <section id="info">
    <div class="wrapper">
      <ul>
        <li><span class="title">Script Uptime:</span><span id="scriptUptime" class="Green">-</span></li>
        <li><span class="title">System Uptime:</span><span id="systemUptime">-</span></li>
        <li><span class="title">RAM Used / Total:</span><span id="ram">-</span></li>
        <li><span class="title">Health Check Interval:</span><span id="healthInterval">-</span></li>
        <li><span class="title">Log Interval:</span><span id="logInterval">-</span></li>
        <li hidden><span class="title">Scheduled Restart:</span><span id="scheduledRestart">-</span></li>
        <li><span class="title">Last Status Message: </span><span id="statusMsg">-</span></li>
        <li><span class="title">Last Log Entry:</span><span id="logEntry">-</span></li>
      </ul>
    </div>
    <div id="controls">
      <button onclick="control('start', this)" data-tooltip="Please wait before sending the same command again.">Start</button>
      <button onclick="control('restart', this)" data-tooltip="Please wait before sending the same command again.">Restart</button>
      <button onclick="control('quit', this)" data-tooltip="Please wait before sending the same command again.">Quit</button>
  
    </div>
    <div id="statusMessage"><span></span></div>
  </section>
  <section id="logs" class="wrapper" hidden>
    <div class="logs-content">
      <div class="container">
        <h2>Last 100 log lines</h2>
      </div>
      <pre id="logOutput"></pre>
    </div>
  </section>
  <section id="changelog" class="wrapper" hidden>
    <div class="changelog-content">
      <div class="container">
        <h2>Update</h2>
      </div>
      <div id="changelog-body"></div>
      <div class="flex">
        <a id="changelog-link" href="#" target="_blank">View on GitHub</a>
        <button type="Submit">Update</button>
      </div>
    </div>
  </section>
  <script src="{{ url_for('static', filename='marked-min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main-min.js') }}" defer></script>
</body>
</html>