<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Viewport Control</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png')}}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg')}}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}" />
  <meta name="apple-mobile-web-app-title" content="Viewport" />
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}" />
  <link rel="preload" href="{{ url_for('static', filename='UI_Sans.woff2') }}" as="font" type="font/woff2">
  <link rel="stylesheet" href="{{ url_for('static', filename='main-min.css') }}">
</head>
<body>
  <h1>Viewport Control</h1>
  <section id="navigation">
    <div class="button-group">
      <button id="status" aria-selected="true">Status</button>
      <button id="logsBtn">Logs</button>
      <button id="update" hidden>Update</button>
    </div>
    <button id="refreshButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <g id="refresh">
          <path
            d="M7.59375 3L9.0625 5L13 5C16.324219 5 19 7.675781 19 11L19 15L16 15L20 20.46875L24 15L21 15L21 11C21 6.59375 17.40625 3 13 3ZM4 3.53125L0 9L3 9L3 13C3 17.40625 6.59375 21 11 21L16.40625 21L14.9375 19L11 19C7.675781 19 5 16.324219 5 13L5 9L8 9Z" />
        </g>
      </svg>
    </button>
  </section>
  <section id="info">
    <div class="wrapper">
      <ul>
        <li><span class="title">Script Uptime:</span><span id="scriptUptime" class="Green">-</span></li>
        <li><span class="title">System Uptime:</span><span id="systemUptime">-</span></li>
        <li><span class="title">RAM Used / Total:</span><span id="ram">-</span></li>
        <li><span class="title">Health Check Interval:</span><span id="healthInterval">-</span></li>
        <li><span class="title">Log Interval:</span><span id="logInterval">-</span></li>
        <li hidden><span class="title">Scheduled Restart:</span><span id="scheduledRestart">-</span></li>
        <li><span class="title">Last Status Message: </span><span id="statusMsg">-</span></li>
        <li><span class="title">Last Log Entry:</span><span id="logEntry">-</span></li>
      </ul>
    </div>
    <div id="controls">
      <button data-action="start" data-tooltip="Please wait before sending the same command again.">Start</button>
      <button data-action="restart" data-tooltip="Please wait before sending the same command again.">Restart</button>
      <button data-action="quit" data-tooltip="Please wait before sending the same command again.">Quit</button>
    </div>
    <div id="statusMessage"><span></span></div>
  </section>
  <section id="logs" hidden>
    <div class="wrapper">
      <div class="container">
        <h2>Last <span id="logCount">50</span> Log Entries</h2>
        <div class="log-controls">
          <div class="custom-spinners">
            <button class="custom-spinner-btn" data-action="increment">▲</button>
            <button class="custom-spinner-btn" data-action="decrement">▼</button>
          </div>
          <input type="number" id="logLimit" min="10" max="600" value="10" step="10">
          <button id="searchLogs">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
      </div>
      <pre id="logOutput"></pre>
    </div>
  </section>
  <section id="changelog" hidden>
    <div class="wrapper">
      <div class="container">
        <h2>Update</h2>
      </div>
      <div id="changelog-body"></div>
      <div class="flex">
        <a id="changelog-link" href="#" target="_blank">View on GitHub</a>
        <button type="submit"><span>Update</span></button>
      </div>
      <div id="updateMessage"><span></span></div>
    </div>
  </section>
  <script src="{{ url_for('static', filename='marked-min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main-min.js') }}" defer></script>
</body>
</html>