<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png')}}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg')}}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}" />
  <meta name="apple-mobile-web-app-title" content="Viewport" />
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}" />
  <link rel="preload" href="{{ url_for('static', filename='UI_Sans.woff2') }}" as="font" type="font/woff2">
  <link rel="stylesheet" href="{{ url_for('static', filename='main-min.css') }}">
</head>
<body>
  <h1>Viewport Login</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="statusMessage">
        {% for cat, msg in messages %}
          <span class="{{ cat }}">{{ msg }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <form id="login" method="post">
    <label for="key">API Key:</label>
    <input id="key" name="key" type="password" required>
    <button type="submit">Login</button>
  </form>
</body>
</html>